<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>URL Shortener</title>
        <link rel="stylesheet" href="styles/index.css"/>
        <script src="scripts/index.js" defer></script>
    </head>
    <body>
        <main>
            <h1>URL Shortener</h1>
            <section>
                <input type="url" id="input_URL" placeholder="Enter URL in here"/>
                <button type="button" id="reset_button">Clear</button>
                <button type="button" id="submit_button">Submit</button>
                <p id="alert">URL is not valid</p>
            </section>
            <section id="result">
                <h2 id="h2">Shortend URL</h2>
                <p id="hash"></p>
                <button type="button" id="copy">Copy</button>
            </section>
        </main>
    </body>
</html>