<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>URL Shortener</title>
        <link rel="stylesheet" href="styles/index.css"/>
        <script src="scripts/index.js" defer></script>
    </head>
    <body>
        <header>
            <h1>URL Shortener</h1>
            <hr>
        </header>
        <main>
            <section>
                <label for="input_URL">Enter URL in here</label>
                <input type="url" name="input_URL" id="input_URL"/>
                <button type="button" id="reset_button">Clear</button>
                <button type="button" id="submit_button">Submit</button>
                <p id="alert">Something is wrong, i can feel it</p>
            </section>
            <section id="result">
                <p>Shortend URL</p>
                <p id="hash"></p>
                <button type="button" id="copy">Copy</button>
            </section>
        </main>
    </body>
</html>